<!DOCTYPE html>
<head>
	<title>CrewLink Server</title>
	<link rel="icon" href="/logo.png" type="image/x-icon">
	<meta property="og:title" content="CrewLink Server">
	<meta property="og:description" content="Go Voice server for Among Us proximity chat">
	<meta property="og:image" content="/logo.png">
	<style>
        body {
            background-color: #23272a;
            color: white;
            font-family: sans-serif;
            text-align: center;
        }

        img {
            height: 128px;
            width: 128px;
            margin: 32px auto;
            display: block;
        }

        a {
            text-decoration: none;
            color: #3498db
        }

        a:hover {
            text-decoration: underline;
        }
	</style>
</head><img src="/logo.png">
<h1>CrewLink Go Server</h1>
<p>This is a CrewLink Go Server running on {{ .Address }}.</p>
<p>There {{if eq .Connected 1}}is{{else}}are{{end}} currently {{ .Connected }} connected user{{if ne .Connected 1}}s{{end}}.</p>
<p>Need the app? Install <a href="https://github.com/ottomated/CrewLink/releases/latest" target="_blank">CrewLink</a> by clicking the link, and download the latest installer!</p>
<p>To launch your own server or contribute to this server, <a href="https://github.com/tystuyfzand/CrewLink-server-go" target="_blank">click here</a>.</p>